In [1]:
import pandas as pd

In [4]:
c = pd.Series([34.0,565,656,234])

In [5]:
c

0     34
1    565
2    656
3    234
dtype: float64

In [6]:
C.INDEX

NameError: name 'C' is not defined

In [7]:
c.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [9]:
c.values

array([  34.,  565.,  656.,  234.])

In [10]:
bacteria = pd.Series([234,456,235,456], index = ['pbacteria','dbacteria','pyylum','bacteriodites'])

In [11]:
bacteria

pbacteria        234
dbacteria        456
pyylum           235
bacteriodites    456
dtype: int64

In [12]:
bacteria.name ='counts'
bacteria.index.name='phylum'

In [13]:
bacteria

phylum
pbacteria        234
dbacteria        456
pyylum           235
bacteriodites    456
Name: counts, dtype: int64

In [17]:
[name.endswith('bacteria') for name in bacteria.index]

[True, True, False, False]

In [29]:
bacteria.index.name.endswith('bacteria')

AttributeError: 'numpy.int64' object has no attribute 'index'

In [30]:
bacteria

phylum
pbacteria        234
dbacteria        456
pyylum           235
bacteriodites    456
Name: counts, dtype: int64

In [31]:
np.log(bacteria)

NameError: name 'np' is not defined

In [33]:
import numpy as np

In [34]:
np.log(bacteria)

phylum
pbacteria        5.455321
dbacteria        6.122493
pyylum           5.459586
bacteriodites    6.122493
Name: counts, dtype: float64

In [35]:
bacteria[bacteria>300]

phylum
dbacteria        456
bacteriodites    456
Name: counts, dtype: int64

In [36]:
bacteria.isnull()

phylum
pbacteria        False
dbacteria        False
pyylum           False
bacteriodites    False
Name: counts, dtype: bool

In [37]:
data = pd.DataFrame({'value':[632, 1638, 569, 115, 433, 1130, 754, 555],
                     'patient':[1, 1, 1, 1, 2, 2, 2, 2],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 
    'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})

In [38]:
data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

In [45]:
data.columns

Index([u'patient', u'phylum', u'value'], dtype='object')

In [46]:
data['value']

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: int64

In [47]:
data['patient']

0    1
1    1
2    1
3    1
4    2
5    2
6    2
7    2
Name: patient, dtype: int64

In [49]:
data.value

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: int64

In [50]:
data.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [53]:
data.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [56]:
data.ix[3]

patient                1
phylum     Bacteroidetes
value                115
Name: 3, dtype: object

In [58]:
data.T

,0,1,2,3,4,5,6,7
patient,1,1,1,1,2,2,2,2
phylum,Firmicutes,Proteobacteria,Actinobacteria,Bacteroidetes,Firmicutes,Proteobacteria,Actinobacteria,Bacteroidetes
value,632,1638,569,115,433,1130,754,555

In [59]:
data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

In [65]:
treatment = pd.Series([0]*4 +[1]*2)

In [66]:
treatment

0    0
1    0
2    0
3    0
4    1
5    1
dtype: int64

In [67]:
data['treatment'] = treatment

In [68]:
data

   patient          phylum  value  treatment
0        1      Firmicutes    632          0
1        1  Proteobacteria   1638          0
2        1  Actinobacteria    569          0
3        1   Bacteroidetes    115          0
4        2      Firmicutes    433          1
5        2  Proteobacteria   1130          1
6        2  Actinobacteria    754        NaN
7        2   Bacteroidetes    555        NaN